# Local environment variables (KEEP THIS PRIVATE!)
.env
.env.example

# Python virtual environment
venv/
env/
ENV/

# Python cache (keeps your repo clean)
__pycache__/
*.pyc

# OS specific files
.DS_Store
Thumbs.db